html,
body {
  margin: 0;
  padding: 0;
}

html {

  scroll-behavior: smooth !important;
}

body {
  font-family: "Poppins", sans-serif !important;
  text-align: center;
  background-color: white;
  color: black;
  position: static;
}


h1 {
  font-size: 2.5rem !;
  border-radius: 15px;
  padding: 5px;
  font-weight: 700 !important;
}

*/ div#header {
  background-color: #3e3d38;
}

div#header h1 {
  height: 80px;
  line-height: 80px;
  margin: 0;
  padding-left: 10px;

}

div#footer {
  background: #BFBD93;
}

div#footer p {
  margin: 0;
  padding: 5px 10px;
}




div#extra {
  clear: both;
  width: 100%;
}



img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 50px;
  border: solid 2px #884A39;
  cursor: pointer;
}

#brand {
  margin: auto;
  border: none;
}

.active {
background: #b7b7b78a;
border-radius: 5px;
}

.Banner {
  height: 5em;
}

.Line {
  width: 100%;
  height: 0.5rem;
  background-color: #a67351;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2%;
  border-radius: 2px;
}

.Spacer {
  margin-top: 50px;
}

.FloatClearer {
  float: none;
  clear: both;
}


.FudgeText {
  color: #C38154;

}


#overlayImage {
  max-width: 100%;
  height: auto;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  overflow-y: hidden !important;
  z-index: 4;
}

.Polygons {
  width: 100%;
  border: none;
  margin-top: 1%;
  margin-bottom: 2%;
}


#TutorialHeader {
  max-width: 100%;
  height: auto;
  border: none;
  border-radius: 0px;
  margin-right: 200px;
  margin-left: auto;
  display: contents;
}


#sticky{
  z-index: 3;
}



.sidebar a {
  transition: 0.2s;
}

#wrapper {
  margin-right: 0px;
  margin-left: 0px;
  transition: margin-left .5s;
  padding: 25px;
  display: block;
}

@media screen and (min-width: 768px) {
  #wrapper {
    margin-right: 250px;
    margin-left: 250px;
  }

  .sidebar {
    font-size: 24px;
  }

}


.btn-success {
  background-color: #a67351 !important;
  border: solid black 1px !important;
}

.btn-success:hover {
  background-color: #FFC26F !important;
}