html,
body {
  margin: 0;
  padding: 0;
}

body {
  /* font-size: 76%; */
  font-family: "Poppins", sans-serif !important;
  text-align: center;
  background-color: white;
  color: black;
  position: static;
  display: block;
  /* background-image: url("test2.svg"); */
}

p {
  margin: 0 10px 10px;
}

a {
  padding: 5px;
  text-decoration: none;
  color: #000000;
}

h1 {
  font-size: 2.5rem !;
  /* background-color: #c3805493; */
  border-radius: 15px;
  padding: 5px;
  /* width: 120%; */
  /* margin-top: 5%; */
  /* margin-left: -10%; */
  font-weight: 700 !important;
}

div#header {
  background-color: #3e3d38;
}

div#header h1 {
  height: 80px;
  line-height: 80px;
  margin: 0;
  padding-left: 10px;

}

/* div#container {
  width: 80%;
  text-align: left;
  margin: 0 auto;
} */


div#navigation {
  float: left;
  width: 200px;
}

div#footer {
  background: #BFBD93;
}

div#footer p {
  margin: 0;
  padding: 5px 10px;
}

div#navigation ul {
  margin: 15px 0;
  padding: 0;
  list-style-type: none;
}

div#navigation li {
  margin-bottom: 5px;
}

div#extra {
  clear: both;
  width: 100%;
}



img {
  max-width: 30%;
  border-radius: 5px;
  float: right;
  margin-bottom: 5%;
  border: solid 2px #884A39;
  cursor: pointer;

}


.Banner {
  height: 5em;
}



.Line {
  width: 100%;
  height: 0.5rem;
  background-color: #a67351;
  width: 100%;
  /* margin-left: -10%; */
  margin-top: 20px;
  margin-bottom: 2%;
  border-radius: 2px;
}

.Spacer {
  margin-top: 50px;
}

.FloatClearer {
  float: none;
  clear: both;
}


.FudgeText {
  color: #C38154;

}


.overlay img {
  max-width: 100%;
  max-height: 100%;
  border: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  overflow-y: hidden !important;
  z-index: 4;
}

.Polygons {
  width: 10%;
  /* float: left; */
  border: none;
  margin-left: 100px;
  margin-top: 1%;
  margin-bottom: 2%;
}


#TutorialHeader {
  /* border: solid 5px red; */
  max-width: 100%;
  /* width: 200% !important; */
  border: none;
  border-radius: 0px;
  padding: 0;
  margin-right: 200px;
}




#sidenav {
  width: 200px;
  height: 100%;
  position: fixed;
  background-color: #dcdcdc6c;
  right: 0;
  z-index: 3;
  color: #000000 !important;
}


#wrapper {
  margin-right: 210px;
  margin-left: 100px;
}

.btn-success {
  background-color: #a67351 !important;
  border: solid black 1px !important;
}

.btn-success:hover {
  background-color: #FFC26F !important;
}