html,
body {
  margin: 0;
  padding: 0;
}

body {
  /* font-size: 76%; */
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: white;
  color: black;
  position: static;
  /* display: block; */
  /* background-image: url("test2.svg"); */
}

p {
  margin: 0 10px 10px;
}

a {
  padding: 5px;
  text-decoration: none;
  color: #000000;
}

h1 {
  font-size: 2.5rem;
  /* background-color: #c3805493; */
  border-radius: 15px;
  padding: 5px;
  width: 120%;
  margin-top: 5%;
  margin-left: -10%;
}

div#header {
  background-color: #3e3d38;
}

div#header h1 {
  height: 80px;
  line-height: 80px;
  margin: 0;
  padding-left: 10px;

}

div#container {
  width: 80%;
  text-align: left;
  margin: 0 auto;
}


div#navigation {
  float: left;
  width: 200px;
}

div#footer {
  background: #BFBD93;
}

div#footer p {
  margin: 0;
  padding: 5px 10px;
}

div#navigation ul {
  margin: 15px 0;
  padding: 0;
  list-style-type: none;
}

div#navigation li {
  margin-bottom: 5px;
}

div#extra {
  clear: both;
  width: 100%;
}

img {
  max-width: 30%;
  border-radius: 5px;
  float: right;
  margin-bottom: 5%;
  border: solid 2px #a67351;
  cursor: pointer;

}


.Banner {
  height: 5em;
}



.TerminalCode {
  display: inline-block;
  font-family: monospace;
  background-color: #5f5f5f;
  color: white;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  padding-left: 5px;
  height: 50px;
}

.TerminalCode button {
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 1.0rem;
  background-color: transparent;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  height: 100%;
}

.TerminalCode button:hover {
  background-color: #cecece;
}

.Line {
  width: 100%;
  height: 0.5rem;
  background-color: #a67351;
  width: 120%;
  margin-left: -10%;
  margin-top: -2%;
  margin-bottom: 2%;
  border-radius: 2px;
}

.Spacer {
  margin-top: 50px;
}

.FloatClearer {
  float: none;
  clear: both;
}


.FudgeText {
  color: #C38154;
}


.overlay img {
  max-width: 100%;
  max-height: 100%;
  border: none;

}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  overflow-y: hidden !important;

}

.Polygons {
  width: 10%;
  float: right;
  border: none;
  margin-left: 100px;
  margin-top: 1%;
  margin-bottom: 2%;
}


#TutorialHeader {
  /* border: solid 5px red; */
  max-width: 100%;
  width: 200% !important;
  float: none;
  clear: both;
  border: none;
  padding: 0;
  margin: 0;
}

/*SideBar */
#SideBar {
  background-color: #a67351;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  border-radius: 5px;
}

#SideBar_Content {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#SideBar button {
  width: 100%;
  background-color: #a67351;
  font-size: 1.5rem;
  border: none;

}

#SideBar li a {
  display: block;
  text-decoration: none;
  color: #F9E0BB;
  padding: 8px 16px;
}

#SideBar li a:hover {
  background-color: #FFC26F;
  color: #a67351;
  border-radius: 5px;
}

#SideBar button:hover {
  background-color: #FFC26F;
  color: #a67351;
  border-radius: 5px;
}
